@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header img {
    width: 180px;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li + li {
    margin-left: 15px;
}

header a {
    color: white;
    text-decoration: none;
    transition: color 0.2s;
    
}

header a:hover {
    color: red;
}

.hero {
    height: 320px;
    padding-bottom: 24px;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center 25%;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero h1 {
    color: white;
    font-size: 36px;
}

.gallery {
    max-width: 1200px;
    margin: 50px auto 0px;
    padding: 0px 24px;
}

.gallery > h2 {
    margin-bottom: 32px;
    border-left: 4px solid red ;
    padding-left: 8px;
}

div.row {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

div.row div {
    /* flex-grow / flex-shrink / flex-basis */
  flex: 1 1 285px;
}

div.row img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 16px;
}

div.row p {
    text-align: center;
    font-weight: bold;
}