@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    padding: 8px 24px;
    gap: 48px;
    position: fixed;
    width: 100%;
}

header nav a {
    color: white;
}

header, footer {
    background-color: black;
    color: white;
}

header, ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    gap: 16px;
    list-style: none;
}


section {
    padding: 68px 24px;
}

section h2 {
    margin-bottom: 24px;
}

footer {
    padding: 48px 24px;
    position: relative;
}

footer p {
    text-align: center;
}
footer a {
    padding: 8px 26px;
    color: white;
    background-color: black;

    position: absolute;
    top: -48px;
    right: 24px;
}